.root {
    -fx-base: #dd48b0;
    -fx-background-color: #64ffcc;
}

.button {
    -fx-base: #2e59ff;
    -fx-background-color: #63ff1c;
    -fx-text-fill: #000000;
}

.menu-bar {
    -fx-background-color: #35ff59;
    -fx-base: #35ff59;
}

