.root{
    -fx-base: #dd48b0;
    -fx-background-color: #44ffd8;
}
.button {
    -fx-base: #4432dd;
    -fx-background-color: #63ff1c;
}
.menu-bar{
    -fx-background-color: #d97511;
    -fx-base: #d97511;
}

